/*トップページ以外の共通CSS*/


/*共通ヘッダー*/
header{
  position: fixed;
  top: 0;
  left: 0;
  padding-top: 2vh;
  width: 100vw;
  height: 12vh;
  background-color: #fef9f2;
  z-index: 100;
}

/*カラフルロゴ*/ 
.company-name img{
  float: left;
  margin-left: 1vw;
  width: 12vw;
  height: 12vh;
  object-fit: cover;
}

/*グロナビ*/
.gnavi{
  padding-top: 5vh;
  height: 10vh;
  margin-right: 2vw;
}

.gnavi-inner{
  width: 55vw;
  float: right;
}

.gnavi ul{
  display: flex;
  margin: 0 -1vw;
}

.gnavi li{
  flex: 1 1;
  position: relative;
  display: flex;
}

.gnavi a{
  display: flex;
  flex: 1 1;
  justify-content: center;
  padding: 0 1.5vw;
}

.gnavi li::after {
  content: "";
  display: block;
  width: 1px;
  height: 20px;
  background-color: #3c4148;
  position: absolute;
  right: 1px;
  top: calc((100% - 20px)/2);
}

.gnavi li:last-child::after {
  content: none;
}

.gnavi span{
  font-weight: bold;
  font-size: 0.8em;
  display: flex;
  align-items: center;
  word-break: keep-all;
  vertical-align: text-bottom;
}

/*グロナビにhover 左から下線*/
.gnavi a:hover span{
  color: #9d9087;
  opacity: 0.8;
  position: relative;
  transition-property:all;     
  transition-duration:1s; 
}

.gnavi-inner a::after {
  position: absolute;
  bottom: -.5vh;/*テキストからの距離*/
  left: 1.6vw;
  content: '';
  width: 60%;
  height: 2px;/*下線の高さ*/
  background: #9d9087;/*下線の色*/
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .5s;/*アニメーション速度*/
}

.gnavi-inner a:hover::after {
  transform: scale(1, 1);
}

/*上に点がついたテキスト*/
 span .dot-text{
   font-weight: bold;
   margin-top: -1vh;
   font-size: 0.7rem;
}


/*スマホ用ハンバーガーメニュー*/
#hamburger {
  display : block;
  position: fixed;
  z-index : 2;
  right : 6vw;
  top   : 4vh;
  width : 42px;
  height: 42px;
  cursor: pointer;
  text-align: center;
}

#hamburger .btn-gNav span{
  position: absolute;
  width: 7vw;
  height: 2px;
  background: #9d9087;
  border-radius: 10px;
  -webkit-transition: 1s ease-in-out;
  -moz-transition   : 1s ease-in-out;
  transition        : 1s ease-in-out;
}

/*ハンバーガーのライン調整*/
#hamburger .btn-gNav span:nth-child(1) {
  top:0vh;
}
#hamburger .btn-gNav span:nth-child(2) {
  top:2vh;
}
#hamburger .btn-gNav span:nth-child(3) {
  top:4vh;
}

/*ハンバーガークリック時 ラインがばつ印に*/
#hamburger .btn-gNav.open span:nth-child(1){
  background: #fff;
  top: 2vh;
  -webkit-transform: rotate(-315deg);
  -moz-transform   : rotate(-315deg);
  transform        : rotate(-315deg);
  z-index: 3;
  transition: 1s;
}

#hamburger .btn-gNav.open span:nth-child(2),#hamburger .btn-gNav.open span:nth-child(3){
  top: 2vh;
  background :#fff;
  -webkit-transform: rotate(315deg);
  -moz-transform   : rotate(315deg);
  transform        : rotate(315deg);
  z-index: 3;
  transition: 1s;
}

/*ハンバーガーメニュークリック時のグロナビ*/
#gNav{
  position: fixed;
  top: 0;
  right: -100%;
  width: 100vw;
  height: 100vh;
  background: #9d9087;
  font-size: 16px;
  text-align: center;
  box-sizing: border-box;
  z-index: 2;
  transition: all 0.6s;
}

.gNav-img img{
  width: 30vw;
  height: 30vh;
  margin-bottom: -50px;
  object-fit: contain;
}

#gNav.open{
  right: 0px;
}

#gNav .gNav-menu ul{
  width: 80%;
  height: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  text-align: center;
}

/*ハンバーガー内 グロナビhover下線*/
#gNav .gNav-menu li{
  display: block;
  padding : 4vh;
  width: 50%;
  margin: 0 auto;
}

#gNav .gNav-menu li a{
  color: #fafafa;
  position: relative;
}

#gNav .gNav-menu a::before{
  content: "";
	position: absolute;
	left: 0;
	bottom: -4px;
	width: 100%;
	height: 1px;
	background: #fefefe;
	transform: scale(0, 1);
	transition: .5s;
}

#gNav .gNav-menu a:hover::before{
  transform: scale(1);
}


/*無料相談はこちらボタン*/
.contactbtn a{
  background-color: #9d9087;
  border: 1px solid #ddd;
  padding: 1vh 2vw;
  margin: 10vh auto 5vh;
  border-radius: 10px;
}

.contactbtn a span{
  font-size: 1rem;
}

.contactbtn span{
  color: #fefefe;
}

.contactbtn a:hover span{
  color: #9d9087;
}

.contactbtn a:hover{
  background-color: #fefefe;
  padding: 1vh 1.5vw;
  border-radius: 10px;
}

/*ハンバーガー内 SNSボタン*/
.sns-icons{ 
  width: 100%;
}

.sns-icons ul{
  display: flex;
  justify-content: center;
  text-align: center;
}

.sns-icons li i{
  color: #fafafa;
  margin-right: 20px;
}

.sns-icons li i {
  display: block;
  margin-top: 4vh;
  margin-right: 4vw;
}

.sns-icons a:hover{
  font-size: 1.5rem;
  transition: 1s;
}

/*@media ヘッダーの分*/
@media screen and (min-width: 1024px){
  .btn-gNav{
    display: none;
  }

}

@media screen and (max-width: 1024px){
  .gnavi{
    display: none;
  }

  body{
    width: 98vw;
    margin: 0 auto;
  }

  .company-name img{
    margin-top: -5vh;
    margin-left: 2vw;
    width: 20vw;
    height: 20vh;
    object-fit: contain;
  } 
}


/*共通ヘッダーここまで*/

/*トップページ以外 sectiontitle h1共通*/
.sectiontitle h1{ 
  letter-spacing: .2vw;
  font-size: 3rem;
  font-weight: normal;
}

/*トップページ以外 sectiontitle p共通*/
.sectiontitle p{
  font-size: 1rem;
  letter-spacing: .2vw;
  margin-left: .3vw;
  margin-bottom: 3vh;
}

/*トップページ以外 mainimg共通*/
.mainimg img{
  width: 100%;
  height: 60vh;
  object-fit: cover;
  margin-bottom: 10vh;
}

/*トップページ以外 h2共通*/
h2{
  width: 60%;
  margin: 0 auto;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: .2vw;
  color: whitesmoke;
  background-color: #d5aaaa;
  border: 1px solid #d5aaaa;
  padding: 1vh 1vw;
  border-radius: 20px;
}

/*無料相談はこちらボタン 共通*/
.contact-btn{
  height: 20vh;
  text-align: center;
  padding-top: 12vh;
}

/*無料相談はこちら 共通*/
.contact-btn a{
  font-size: 1.2rem;
  background-color: #d5aaaa;
  border: 1px solid #d5aaaa;
  padding: 1vh 1vw;
  border-radius: 20px;
}

.contact-btn span{
  color: white;
}

.contact-btn a:hover span{
  color: #d5aaaa;
}

.contact-btn a:hover{
  background-color: #fef9f2;
  padding: 1vh 1vw;
  border-radius: 20px;
}

/*フッター*/
#footer{
  height: 30vh;
  max-width: 1000vh;
  margin-top: 20vh;
  border-top: 1px dotted #9d9087;
  border-bottom: 1px dotted #9d9087;
  padding: 2%;
}

.info{
  display: flex;
  width: 100%;
}

/*左*/
.info-left{
  margin-left: 10vw;
  width: 25%;
}

/*真ん中*/
.info-center{
  width: 40%;
  line-height: 1.5rem;
}

.info-center .adress::after{
  content: "\A- - - - - - - - - - - - - - - - - - - - - - - ";
  white-space: pre;
}

.info-center a:hover{
  color: #9d9087;
  opacity: 0.8;
}

/*右*/
.info-right{
  display: flex;
  width: 35%;
  line-height: 2rem;
}

.info-left p{
  font-size: 1.2rem;
}

.info-right .info-nav{
  margin-right: 5vw ;
}

/*グロナビにhover*/
.info-nav a:hover span{
  color: #9d9087;
  opacity: 0.8;
}

.info-nav2 a:hover span{
  color: #9d9087;
  opacity: 0.8;
}

/*コピーライト*/
.copy-right{
  text-align: right;
  font-size: 0.7rem;
  margin-top: 1vh;
}

@media screen and (max-width: 1024px) {

  .sectiontitle h1{
    font-size: 2.1em;
    margin: auto 2vw;
  }

  .sectiontitle p{
    margin: auto 2vw;
  }

  /*トップページ以外 mainimg共通*/
  .mainimg img{
    width: 100%;
    height: 35vh;
    margin: 1vh auto;
    object-fit: cover;
    margin-bottom: 7vh;
  }

  /*トップページ以外 h2共通*/
  h2{
    width: 90%;
    font-size: .9rem;
  }

  /*無料相談はこちらボタン 共通*/
  .contact-btn{
    height: auto;
    padding-top: 10vh;
  }

  /*無料相談はこちら 共通*/
  .contact-btn a{
    font-size: .9rem;
    padding: 1vh 2vw;
  }

  .contact-btn a:hover{
    padding: 1vh 2vw;
  }


  /*footer*/
  #footer{
    margin: 0 auto;
    height: auto;
    max-width: 98vh;
    margin-top: 10vh;
  }

  .info-left{
    margin-left: 2vw;
    width: 35%;
  }
  
  .info-left p{
    font-size: .9rem;
  }

  .info-right{
    display: none;
  }

  .info-center{
    width: 60%;
    font-size: .8em;
    line-height: 1.1rem;
    float: right;
    margin-left: 44vw;
  }

  /*コピーライト*/
  .copy-right{
    text-align: center;
    font-size: 0.6rem;
    margin-top: 2vh;
  }

}
