
/*メイン*/
main{
  max-width: 85%;
  margin: 0 auto;
  height: 230vh;/*メインの量に合わせて変える*/
  padding-top: 20vh;
  /*background-color: antiquewhite;*/ /*mainの高さ検証の為*/
}

h2{
  width: 30vw;
  margin: 0 auto;
  text-align: center;
  font-size: 1.3rem;
  letter-spacing: .2vw;
  color: whitesmoke;
  background-color: #aca49c;
  border: 1px solid #aca49c;
  padding: 1vh 1vw;
  border-radius: 20px;
}

.fa-envelope{
  margin-left: 1vw;
}


@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400);

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #aca49c;
  font-size: 1em;
}

input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder {
  color: #bbb5af;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #aca49c;
  font-size: 1em;
}

input:focus::-moz-placeholder, textarea:focus::-moz-placeholder {
  color: #bbb5af;
}

input::placeholder, textarea::placeholder {
  color: #aca49c;
  font-size: 1em;
}

input:focus::placeholder, textarea:focus::placeholder {
  color: #bbb5af;
}

input::-ms-placeholder, textarea::-ms-placeholder {
  color: #aca49c;
  font-size: 1em;
}

input:focus::-ms-placeholder, textarea:focus::-ms-placeholder {
  color: #bbb5af;
}

/* on hover placeholder */

input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder {
  color: #e2dedb;
  font-size: 1em;
}

input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder {
  color: #cbc6c1;
}

input:hover::-moz-placeholder, textarea:hover::-moz-placeholder {
  color: #e2dedb;
  font-size: 1em;
}

input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 1em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder {
  color: #cbc6c1;
}

input:hover::placeholder, textarea:hover::placeholder {
  color: #e2dedb;
  font-size: 1em;
}

input:hover:focus::-ms-placeholder, textarea:hover::focus:-ms-placeholder {
  color: #cbc6c1;
}


/*form全体*/
#form {
  position: relative;
  width: 500px;
  margin: 50px auto ;
}

/*input*/
input {
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  width: 500px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  
  background: transparent;/*背景色*/
  outline: none;
  color: #726659;/*文字色*/
  
  border: solid 1px #b3aca7;
  border-bottom: none;
  
  transition: all 0.3s ease-in-out;/*変化秒*/
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

/*inputにhover*/
input:hover {
  background: #b3aca7;
  color: #e2dedb;
}

/*textarea*/
textarea {
  width: 500px;
  max-width: 500px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  
  background: transparent;/*背景色*/
  outline: none;
  
  color: #726659;/*文字色*/
  font-family: 'Lato', sans-serif;
  font-size: 0.9em;
  
  border: solid 1px #b3aca7;
  
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;
}

/*textareaにhover*/
textarea:hover {
  background: #b3aca7;
  color: #e2dedb;
}

/*submit送信*/
#submit {
  width: 500px;
  
  padding: 0;
  margin: -5px 0px 120px 0px;
  
  font-family: 'Lato', sans-serif;
  font-size: 1em;
  color: #b3aca7;
  
  outline:none;
  cursor: pointer;
  
  border: solid 1px #b3aca7;
  border-top: none;
}

/*submitにhover*/
#submit:hover {
  color: #e2dedb;
}

/*お電話でのお問い合わせ*/
.tell-number{
  margin: 5vh auto 4vh;
  text-align: center;
  font-family: 'Lato', sans-serif;
  font-size: 2em;
  
}

.tell-number a{
  color: #b3aca7;
}

/*phoneのアイコン*/
.fa-phone{
  margin-right: 1vw;
}

/*電話番号にhover 下線*/
.tell-number a:hover{
  color: #bbb5af;
  opacity: 0.8;
  position: relative;
  transition-property:all;     
  transition-duration:1s; 
}

.tell-number a::after {
  position: absolute;
  bottom: -.5vh;/*テキストからの距離*/
  left: 1.6vw;
  content: '';
  width: 95%;
  height: 2px;/*下線の高さ*/
  background: #bbb5af;/*下線の色*/
  transform: scale(0, 1);
  transform-origin: left top;
  transition: transform .8s;/*アニメーション速度*/
}

.tell-number a:hover::after {
  transform: scale(1, 1);
}


/*電話番号下の説明*/
.flex{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  font-family: 'Lato', sans-serif;
  font-size: 1.1em;
  margin-top: 1.5vh;
}

.flex p{
  width: 15%;
  text-align: center;
}

.time span{
  background-color: #d5aaaa;
  color: whitesmoke;
  padding: 1vh 1vw;
}

.date span{
  background-color: #d5aaaa;
  color: whitesmoke;
  padding: 1vh 1.6vw;
}

.time2 span{
  padding: 1vh 1vw;
  color: #9e9790;
}

@media screen and (max-width:1024px){

    /*メイン*/
  main{
    max-width: 98%;
    height: auto;
  }

  h2{
    width: 40vw;
    font-size: 1rem;
  }

  /*form全体*/
  #form {
    width: 98vw;
  }

  /*input*/
  input {
    font-size: 0.8em;
    width: 98vw;
  }

  /*textarea*/
  textarea {
    width: 98vw;
    max-width: 98vw;
    font-size: 0.8em;
  }

  /*submit送信*/
  #submit {
    width: 98vw;
    font-size: .9em;
  }

  /*お電話でのお問い合わせ*/
  .tell-number{
    font-size: 1.5em;
  }

  /*phoneのアイコン*/
  .fa-phone{
    margin-right: 1.5vw;
  }


  /*電話番号下の説明*/
  .flex{
    font-size: 1em;
  }

  .flex p{
    width: 22%;
  }

    
}