/*メイン*/
main{
  max-width: 85%;
  margin: 0 auto;
  height: auto;
  padding-top: 20vh;
}

.flex{
  display: flex;
  width: 100%;
  margin-top: 10vh;
}

.flex .mini-img{
  width: 50%;
}

.flex .mini-img img{
  width: 540px;
  height: 500px;
  object-fit: cover;
}

.flex-txt{
  width: 50%;
  padding: 3vh 4vw;
}

/*コンテンツごとのタイトル*/
.flex-txt h3{
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: .2vw;
  margin-bottom: .2vh;
}

/*コンテンツ内のそれぞれテキスト*/
.flex-txt .long-txt{
  margin-top: 2vh;
  letter-spacing: .02vw;
  line-height: 7vh;
}


@media screen and (max-width:1024px){

    /*メイン*/
  main{
    max-width: 98%;
    height: auto;
  }

  .flex{
    flex-direction: column-reverse;
    margin-top: 4vh;
    text-align: center;
  }

  .flex .mini-img{
    width: 100vw;
  }

  .flex .mini-img img{
    width: 100vw;
    height: 30vh;
  }

  .flex-txt{
    width: 100%;
  }

  /*コンテンツごとのタイトル*/
  .flex-txt h3{
    font-size: 1.6rem;
  }

  .flex-txt p{
    font-size: .9em;
  }

  /*コンテンツ内のそれぞれテキスト*/
  .flex-txt .long-txt{
    margin-bottom: 2vh;
    line-height: 4.5;
  }


}