
/*メイン*/
main{
  max-width: 85%;
  margin: 0 auto;
  height: 280vh;/*メインの量に合わせて変える*/
  padding-top: 20vh;
  /*background-color: antiquewhite;*/ /*mainの高さ検証の為*/
}


/*フレックス化*/
.flex{
  display: flex;
  width: 100%;
  margin-top: 10vh;
}

.flex .mini-img{
  width: 30%;
  margin-left: 5vw;
  margin-top: 3vh;
}


.flex .mini-img img{
  width: 280px;
  height: 280px;
  object-fit: cover;
  opacity: 0.8;
  border-radius: 50%;
  transition: all 1s linear 0s;  
}

.flex .mini-img img:hover {
  cursor: pointer;
	transform: rotateZ( 360deg );
}

.flex-txt{
  width: 70%;
  padding: 3vh 4vw;
}

/*コンテンツごとのタイトル*/
.flex-txt h3{
  font-size: 2rem;
  font-weight: normal;
  letter-spacing: .2vw;
  margin-bottom: .2vh;
}

.flex-txt .jp-title{
  font-size: 0.9rem;
}

/*コンテンツ内のそれぞれテキスト*/
.flex-txt .long-txt{
  margin-top: 2vh;
  letter-spacing: .02vw;
  line-height: 7vh;
}

.event{
  position: relative;
}

/*arrow 矢印*/
.arrow {
  position: absolute;
  width: 2vw;
  height: .1vh;
  background: #9d9087;
  top: 90%;
  right: 10vw;
}

.arrow::after {
  position: absolute;
  content: "";
  display: block;
  width: .5vw;
  height: .1vh;
  background: #9d9087;
  transform: rotate(45deg);
  right: 0;
  bottom: 2px;
}

@media screen and (max-width:1024px){


  /*メイン*/
  main{
    max-width: 100vw;
    height: auto;
  }


  /*フレックス化*/
  .flex{
    flex-direction: column;
  }

  .flex .mini-img{
    width: 100%;
    margin-left: 0vw;
    margin-top: 0vh;
  }


  .flex .mini-img img{
    width: 100vw;
    height: 40vh;
    opacity: .9;
    border-radius: 0%;
    transition: none;  
  }

  .flex .mini-img img:hover {
    cursor: inherit;
    transform: none;
  }

  .flex-txt{
    width: 100vw;
    text-align: center;
    padding: 3vh 4vw;
     margin-bottom: -2vh;
  }

  /*コンテンツごとのタイトル*/
  .flex-txt h3{
    margin-top: 7vh;
    font-size: 1.6rem;
   
  }

  .flex-txt .jp-title, p{
    font-size: .9em;
  }

  /*コンテンツ内のそれぞれテキスト*/
  .flex-txt .long-txt{
    margin: 2vh 2vw;
    line-height: 4.5;
  }

  /*arrow 矢印*/
  .arrow {
    width: 5vw;
    top: 80vh;
    right: 10%;
  }

  .arrow::after {
    width: 1.5vw;
    height: .1vh;
    right: -1.1px;
    bottom: 2.9px;
  }
  
}
